*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100w;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dd2358;
}

.pantalla{
    user-select: none;
}

.pantalla .cronometro{
    height: 100px;
    background: #e39cb0;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 5px #e6aebe;
    border: none;
}

.pantalla .cronometro span{
    width: 100px;
    text-align: center;
    font-size: 45px;
    font-weight: 550;
    color: rgb(11, 118, 134);
}

.cronometro span.separador{
    width: 10px;
}

.cronometro span.separador-mili, .cronometro span.milisegundo{
    color: rgb(82, 5, 117);
}
.pantalla .botones{
    text-align: center;
    margin-top: 30px;
}

.botones button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0px 10px;
    color: rgb(11, 118, 134);
    background: #e0d9db;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.9rem;
    cursor: pointer;
    box-shadow: 3px 4px 3px 0px #e883a0;
}

.botones button.on{
    pointer-events: none;
    opacity: 0.7;
}
.cronometro{
   margin: 50px;
   padding: 20px;
}